version: "3"

services:
  Jenkins:
    image: jenkins-ansible
    build: .
    container_name: Jenkins-ansible
    volumes:
      - $PWD/data/jenkins_home:/var/jenkins_home
    ports:
      - "8080:8080"
    restart: on-failure